name: Build CFtester

on:
  push:
    paths:
      - '**.go'
  workflow_dispatch:
    inputs:
      release:
        type: boolean
        description: '发布到 release'
        default: false
      tag_name:
        type: string
        description: '版本标签'
        required: true  # 使此输入为必需

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.22'

      - name: Build binaries
        run: |
          GO_FILES=( "CFtester-darwin-amd64" "CFtester-darwin-arm64" "CFtester-linux-386" "CFtester-linux-amd64" 
                      "CFtester-linux-arm64" "CFtester-linux-arm5" "CFtester-linux-arm6" "CFtester-linux-arm7"
                      "CFtester-linux-mips" "CFtester-linux-mips64" "CFtester-linux-mipsle" "CFtester-linux-mips64le"
                      "CFtester-windows-386.exe" "CFtester-windows-amd64.exe" "CFtester-windows-arm64.exe" )

          ARCHS=( "darwin/amd64" "darwin/arm64" "linux/386" "linux/amd64" "linux/arm64" 
                   "linux/arm/5" "linux/arm/6" "linux/arm/7" "linux/mips" "linux/mips64"
                   "linux/mipsle" "linux/mips64le" "windows/386" "windows/amd64" "windows/arm64" )

          for i in "${!GO_FILES[@]}"; do
            echo "Building ${GO_FILES[$i]} for ${ARCHS[$i]}"
            IFS="/" read -r os arch <<< "${ARCHS[$i]}"
            GOOS=$os GOARCH=$arch go build -o bin/${GO_FILES[$i]} ./main.go &
          done

          wait

      - name: Install UPX
        uses: crazy-max/ghaction-upx@v3
        with:
          install-only: true

      - name: Compress binaries with UPX
        run: |
          cd bin
          for FILE in *; do
            if upx --best --lzma "$FILE"; then
              tag_FILE="${FILE%.*}_upx.${FILE##*.}"
              mv "$FILE" "$tag_FILE"
            else
              echo "::warning title=UPX::$FILE could not be compressed further, it may not be supported."
            fi
          done

      - name: Upload Artifacts - darwin
        uses: actions/upload-artifact@v4
        with:
          name: macOS-binaries
          path: bin/*darwin*

      - name: Upload Artifacts - linux
        uses: actions/upload-artifact@v4
        with:
          name: linux-binaries
          path: bin/*linux*

      - name: Upload Artifacts - windows
        uses: actions/upload-artifact@v4
        with:
          name: windows-binaries
          path: bin/*windows*

      - name: Create release
        id: create_release
        if: inputs.release
        uses: actions/create-release@main
        with:
          tag_name: ${{ inputs.tag_name }}  # 使用用户输入的标签名称
          release_name: 'Release ${{ inputs.tag_name }}'  # 可选
          files: |
            bin/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
